.titulo{
    --background: pink;
    text-align: center;

  }
  .content{
    --background: rgb(122, 81, 81);

  }

  #mapa{
    width: 50%;
    text-align: center;
  }

  #mapId{
    width: 1000px;
    height: 400px;
  }