<ion-header class="titulo">
  <ion-toolbar class="titulo">
    <ion-title>RECETAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Recetas 
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Diferentes recetas para hacer con tus alimentos</p>
    </ion-card-content>
  </ion-card>
  <div id="mapa">
      <h3>Encuentranos</h3>
    <div id="mapId"></div>
  </div>
</ion-content>


<ion-toolbar>
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        HOME
      </ion-tab-button>
      <ion-tab-button tab="recetas">
        RECETAS
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>