.card{
  --background: white;
}
ion-input{
    background-color: rgb(165, 130, 130);
    color: whitesmoke;
}
.title{
  --background:rgb(181, 120, 56);
  text-align: center;
  color: white;
}
.boton{
  --background: rgb(133, 208, 234);
    color:white;
}
