
.card{
  --background: rgb(114, 78, 78);
  text-align: center;
}
.title{
  font-weight: bolder;
  font-size: 40px;
}
.add{
  font-size: 300%;
  --background: rgb(50, 118, 141);
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.text{
  color: rgb(85, 154, 85);

}


