
.card{
  --background: rgb(114, 78, 78);
  text-align: center;
}
.title{
  font-weight: bolder;
  font-size: 40px;
}
.add{
  font-size: 500%;
  --background: rgb(24, 47, 54);
  position: fixed;
  bottom: 100px;
  right: 50px;
}

.text{
  color: rgb(85, 154, 85);

}


